<div id='mangainfowrapper' style='width:75%;margin:auto;padding:2%;'>
  <div id="searchresult" style="padding-bottom: 3px;height:100%;overflow:hidden;padding:2%;">
    <div id="searchresultinfo" style="width:66%;float:right;padding:2%;">
      <h1 style="text-align:center;"><%= @manga['t'] %></h1>
      <h3>Author: <%= @mangainfo['author'] %></h3>
      <h3>Artist: <%= @mangainfo['artist'] %></h3>
      <h3>Year of Release: <%= @mangainfo['released'] %></h3>
      <h3>Genres: <%= @mangainfo['categories'].to_s.gsub(/\[|\]/, '') %></h3>
      <h3>Latest Chapter: <%= @mangainfo['chapters'][0][0] %></h3>
      <h3>Summary: <%= raw @mangainfo['description'] %></h3>
      <br><br>
      </div>
      <div id="searchresultimg" style="width: 30%;height:100%;padding-bottom:400px;margin-bottom:-400px;text-align:center;">
	<div id="image">
	  <% if @manga['im'] == nil %>
	    <%= image_tag "noimage.png", style: "width:100%;margin:auto;" %>
	  <% else %>
	    <img src="http://cdn.mangaeden.com/mangasimg/<%= @manga['im'] %>" style="width:100%;margin:auto;">
	  <% end %>
	</div>
	<br>
	<br>
	<%= link_to "Back to Search", "#{:new}" %>
	<br>
	<% if current_user == nil %>
	  <p> Sign in to add manga </p>
	<% else %>
	  <% if check(@mangainfo['title']) == true %>
	    <p> Already Subscribed to Manga </p>
	  <% else %>
	    <br>
	    <%= link_to "Add Manga", mangas_add_path(manga: [ @mangainfo['title'], @mangainfo['author'], @mangainfo['chapters'][0][0] ]) %>
	  <% end %>
	<% end%>
      </div>
  </div>
  <div id="newchapterswrapper">
    <% @new_manga_chapters.each { |x| %>
      <div id="row<%= x[0] %>">
	<div class="chapternumber">
	  <%= x[0] %>
	</div>
	<div class="markasread">
	  <% if x == @new_manga_chapters.first %>
	    <%= link_to "Mark As Read", mangas_markasread_url(manga: @manga['t'], chapter: x[0].to_i, newchapters: @new_manga_chapters.size) %>
	  <% else %>
	    <%= "Mark As Read" %>
	  <% end %>
	</div>
	<div class="readonline">
	  <a href="#readmodal<%= x[0] %>">Read</a>
	  <div id="readmodal<%= x[0] %>" class="modal">
	    <div>
	      <a href="#close" title="Close" class="close">X</a>
	      <h2>
		<a href="http://www.mangaeden.com/en-manga/<%= @mangainfo['alias'] %>/<%= x[0] %>/1">Mangaeden</a>
		<br>
		<br>
		Batoto
		<br>
		<br>
		Scanlator
		<br>
		<br>
		Raw
		<br>
		<br>
		<%= link_to "Read on Byakko", mangas_read_path(manga: @manga['a'], chapter: x[2].to_i) %>
  	      </h2>
            </div>
          </div>
        </div>
	<div class="download">
	  <a href="#downloadmodal<%= x[0] %>">Download</a>
	  <div id="downloadmodal<%= x[0] %>" class="modal">
	    <div>
	      <a href="#close" title="Close" class="close">X</a>
	      <h2>
		<%= "#{x[2]}:#{x[0]}" %>
	      </h2>
	      <% @mangainfo['chapters'].each { |y| %>
		<% if y[0].to_i == x[2].to_i %>
		  <% @mangachapter =  x %>
		<% end %>
	      <% } %>
	      <%= link_to "Download", mangas_download_url(manga: @manga['a'], chapter: x[2].to_i) %>
	    </div>
	  </div>
        </div>
    <% } %>
  </div>
</div>
