<% provide(:title, @user.username) %>
<h1 style="text-align:center;"><%= @user.username %></h1>

<div class="mangalist" style="width:75%; margin:auto;">
  <div class="title">
    <h3>Title</h3>
    <h4>
      <% unless @subscription == nil %>
	<% @subscription.each_with_index { |x,index| %>
	  <%= link_to x[:title], mangas_info_path(manga: info(x[:title]), query: x[:title], newchapters: @newchapters[index]) %>
	  <br>
	  <br>
	<% } %>
      <% end %>
    </h4>
  </div>
  <div class="newchapters">
    <h3>New Chapters</h3>
    <h4>
      <% unless @subscription == nil %>
	<% @newchapters.each { |x| %>
	  <%= x %>
	  <br>
	  <br>
	<% } %>
      <% end %>
    </h4>
  </div>
  <div class="chapter">
    <h3>Chapter</h3>
    <h4>
      <% unless @subscription == nil %>
	<% @subscription.each { |x| %>
	  <%= x[:chapter] %>
	  <br>
	  <br>
	<% } %>
      <% end %>
    </h4>
  </div>
</div>
<%= link_to "Add manga", controller: "mangas", action: "new" %>
