<% provide(:title, @user.username) %>
<h1 style="text-align:center;"><%= @user.username %></h1>
<h2 style="text-align:center;">
  <%
    new_chapters=0
    @newchapters.each { |y|
      x = y[:newchapter]
      if x > 0
	new_chapters = new_chapters += x
      end
    }
    if new_chapters == 1
      chapters = "Chapter"
    else
      chapters = "Chapters"
    end
  %>
  <%= "#{new_chapters} New #{chapters}" %>
</h2>

<div class="mangalist" style="width:75%; margin:auto;">
  <div class="title">
    <h3>Title</h3>
    <h4>
      <% unless @newchapters == nil %>
	<% @newchapters.each { |x| %>
	  <%= link_to x[:title], mangas_info_path(manga: x[:title], newchapters: x[:newchapters]) %>
	  <br>
	  <br>
	<% } %>
      <% end %>
    </h4>
  </div>
  <div class="newchapters">
    <h3>New Chapters</h3>
    <h4>
      <% unless @newchapters == nil %>
	<% @newchapters.each { |y| %>
	  <% x = y[:newchapter] %>
	  <% if x < 0 %>
	    <%= x=0 %>
	  <% else %>
	    <%= x %>
	  <% end %>
	  <br>
	  <br>
	<% } %>
      <% end %>
    </h4>
  </div>
  <div class="chapter">
    <h3>Chapter</h3>
    <h4>
      <% unless @newchapters == nil %>
	<% @newchapters.each { |x| %>
	  <%= x[:chapter] %>
	  <br>
	  <br>
	<% } %>
      <% end %>
    </h4>
  </div>
</div>
<div id="addmanga">
  <h4>
    <%= link_to "Add manga", controller: "mangas", action: "new" %>
  </h4>
</div>
<div id="accountinfo">
  <h2>
    Account information
  </h2>
  <p>
    <%= link_to "Delete account", current_user, method: :delete , data: { confirm: "Are you sure?" } %> 
    <br>
    <br>
    <%= link_to "New Releases RSS Feed", "http://byakko.heroku.com/newchapters.rss?api_key=#{current_user.api_key}" %>
    <br>
    Do not give this rss feed to anyone else. It contains your personal api key which can be used to delete your account and access your personal data.
    <br>
    <br>
    <%= "Api Key: #{current_user.api_key}" %>
  </p>
</div>
